[Unit]
Description=pCloud %i sync for %u
Documentation=https://github.com/sergeyklay/pcloud-console-client
After=network.target

[Service]
Type=simple
WorkingDirectory=%h
ExecStart=pcloudcc -u %i -m %h/pCloudDrive
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
