# This file is part of the pCloud Console Client.
#
# (c) 2021 Serghei Iakovlev <egrep@protonmail.ch>
#
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this project.

[Unit]
Description=pCloud %i sync for %u
Documentation=https://github.com/sergeyklay/pcloud-console-client
After=network.target

[Service]
Type=simple
WorkingDirectory=%h
ExecStart=pcloudcc -u %i -m %h/pCloudDrive
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
