# This file is part of the pCloud Console Client.
#
# (c) 2021 Serghei Iakovlev <egrep@protonmail.ch>
#
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this source code.

# Automatically normalize line endings for all text-based files
* text=auto

external/*      linguist-vendored

.gitattributes  export-ignore
.github         export-ignore
